//
   Created by pc on 8/23/2017.
html
    head
        title = 'CRUD'
    body
        h1 Movie List
        table
            thead
                tr
                    th Movie Title
                    th Movie Rate
            tbody
                tr
                    td= row.movie_title
                    td= row.movie_rate


